html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.text{
  /*position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -300px;*/
  color: white;
  	font-family: Georgia;
	text-align: center;
  /*margin: 0;*/

position: fixed;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%)
}

#custom-nav {
    background-color: rgba(0,0,0,0);
    border: 0;
    box-shadow: none;
    z-index: 999;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: background .5s ease-in-out, opacity .5s ease;
    -moz-transition: background .5s ease-in-out, opacity .5s ease;
    transition: background .5s ease-in-out, opacity .5s ease;
}

.color-nav{

  color: white;
  font-family: Arial;
  font-size: 20px;
}

.center-title{
  text-align: center;
}


#aboutMe{
  padding-top: 40px;
  padding-bottom: 40px;
}

.about-font{
  font-family: Courier;
  font-size: 20px;
}

.title-font{
  font-family: Monaco;
  font-size: 48px;
}

#projects{
  background-color: #d3d3d3;
}

.im-centered { margin: auto; max-width: 300px;}

.centers {
    margin: 0 auto;
    width: 98%;
}

.top-spz{
  margin-top: 20px;
}
